.main-upper {
  background-color: green;
}

.main__text--white {
  background-color: white;
}
.main__text--orange {
  background-color: orange;
}
.main-down {
  background-color: gray;
}
.main__text--yellow {
  background-color: yellow;
}